.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__body {
        margin-bottom: 1rem;
    }
    
    &__button-group {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    
        el-button {
          padding: 0.5rem 0.75rem;
        }
    }
}