.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  &__body {
    width: 80%;
  }

  &__button-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    button {
      padding: 0.5rem 0.75rem;
    }
  }
}